
<footer>
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h2>Company</h2>
      <ul>
        <li>About us</li>
        <li> Our Mission</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h2>Products</h2>
      <ul>
        <li>SEO</li>
        <li>Content Development</li>
        <li>Digital Marketing</li>
      </ul>
    </div>
    <div class="col">
      <h2>Team</h2>
      <ul>
        <li>HR Team</li>
        <li>Finance Team</li>
        <li>Content Team</li>
      </ul>
    </div>
    <div class="col">
      <h2>Resources</h2>
      <ul>
        <li>Webmail</li>
        <li>Web templates</li>
        <li>Email templates</li>
      </ul>
    </div>
    <div class="col">
      <h2>Contact</h2>
      <ul>
        <li>+91 9051 XXXXXX</li>
        <li>033 2464 XXXX</li>
        <li>abc@gmail.com</li>
      </ul>
    </div>
    <div class="col address">
      <h2>Address </h2>
      <ul>
        <li>Sky Towers, Service Road, Kolkata</li>
    </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
 </footer>
  
  <style>
   .footer {
  width: 100%;
  background-color: #2874f0;
  position: relative;
  bottom: 0;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: black;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

  </style>