<footer>
    <div style="left: 0 ;bottom: 0;width: 100vw;">
      <div id="footer-cols" class="row p-4 footer-cols">
        <ul class="col-3">
          <li style="font-size:1rem;padding-bottom: 2px;color: white;">Address</li>
          <hr>
          <li><a>ZZZZ Workspace</a></li>
          <li><a>Street 43,building 4A</a></li>
          <li><a>Industrial Area</a></li>
          <li><a>Aqwertyu </a></li>
          <li><a>Mumbai</a></li>
        </ul>
        <ul class="col-3">
          <li style="font-size:1rem;padding-bottom: 2px;color: white;">Clients</li>
          <hr>
          <li><a>XYZ org</a></li>
          <li><a>ABC org</a></li>
          <li><a>IJK org</a></li>
          <li><a>Qwerty Corp</a></li>
          <li><a>ZAQ PVT</a></li>
        </ul>
        <ul class="col-3">
          <li style="font-size:1rem;padding-bottom: 2px;color: white;">Stack</li>
          <hr>
          <li><a>HTML5,CSS,JS</a></li>
          <li><a>React</a></li>
          <li><a>Angular</a></li>
          <li><a>NodeJS</a></li>
          <li><a>Django</a></li>
        </ul>
        <ul class="col-3">
          <li style="font-size:1rem;padding-bottom: 2px;color: white;">About Being Geeky</li>
          <hr>
          <li><a>About CEO</a></li>
          <li><a>About Team</a></li>
          <li><a>Location</a></li>
          <li><a>Working Atmosphere</a></li>
          <li><a>Contact Being Geeky</a></li>
        </ul>
      </div>
    </div>
</footer>
  <style>
    footer{
      background-color: #2874f0;
      bottom: 0;
    }
    .footer-cols ul li {
    color: white;
    font-size: 22px;
   list-style: none;
  }
  #footer-cols{
    background-color: #2874f0
  }
  @media screen and (max-width: 770px) {
   footer{
    display: none;
   }
  }
  </style>