<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("../partials/header.ejs",{isAuth:true}); %>
    <div class="container mx-2 my-2">
      <div class="orderContainer">
        <button class="btn btn-primary" onclick="PlaceOrder()">
          Placed Order
        </button>
        <hr />
      </div>
    </div>
    <div class="container">
      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <div id="msgdisplay" style="display: none;" class="alert alert-danger" role="alert">Product Quantity cannot increment</div>  

      <div class="row container-fluid" id="showCart"></div>
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script>
   GetCartObject();

   //Place Order
   function PlaceOrder() {
     confirm("Confirm?");
     window.location.href = "/ConfirmPage";
   }

   //Get Cart Object
   function GetCartObject() {

     var showCart = document.getElementById('showCart');
     fetch("/GetCartdata")
       .then((response) => response.json())
       .then((data) => {
         let html="";
         data.Cart.forEach(element => {
             html+=`<div class="col-3  my-2">
               <div class="card" style="width: 18rem;">
                 <img height="300px" width="200px" src="${element.ImageUrl}" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">Name:${element.ProductName }</h5>
                   <span style="font-weight: bold;">Price:${element.ProductPrice}</span>
                   <span style="font-weight: bold;">Quantity:${element.UserQuantity}</span><br>
                   <span style="font-weight: bold; color:red;" >stock:${element.Quantity}</span>
                   <div class="row">
                     <button onclick=addingproduct(${element.ProductId})   class="btn btn-primary my-1">+</button>
                     <button  onclick=removingproduct(${element.ProductId})  class="btn btn-primary my-1">-</button>
                     </div>
                   <div class="row">
                     <a href="/GetById/${element.ProductId}" class="btn btn-primary my-1">Details</a>
                     <button onclick=removefromcart(${element.ProductId})  class="btn btn-primary my-1">Remove</button>
                     </div>
                 </div>
               </div>
             </div>`
         });
         showCart.innerHTML=html;
       }
       );
   }

   //Plus Prouducts
  function addingproduct(id){
     fetch(`/updateAddCart/${id}`).then(result => result.json())
        .then(data => {
            if(data.IsUpdateSuccess==false){
               let msgdisplay=document.getElementById('msgdisplay');
               msgdisplay.style.display='block';
               setTimeout(() => {
                msgdisplay.style.display='none';
               }, 2000);
            }else{
              GetCartObject();
            }
        })
       
   }

   //Minus Products
   function removingproduct(id){
     fetch(`/updateRemoveCart/${id}`)
       .then((response) =>GetCartObject())
   }

   //Rempve from Carts
   function removefromcart(id){
     fetch(`/RemoveCart/${id}`)
       .then((response) =>GetCartObject())
   }
</script>
